:root {
    color: white;
    background-color: #242424;
}

nav {
    display: flex;
    gap: 1rem;
}

a {
    color: skyblue; /* Use the color of the parent element */
    cursor: pointer;
}

a.active {
    color: white;
}
